.doctoralia-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #00C3A5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.main-nav {
    display: flex;
    gap: 1rem;
}

.nav-button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background: white;
    color: #00C3A5;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-button.primary {
    background:rgb(0, 166, 195);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-button:hover {
    background: #01887A;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, color 0.3s ease;
}

.nav-button.primary:hover {
    background: #01887A;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, color 0.3s ease;
}